$primary: #add8e6;
$bright: #baade6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;
$dark: #2a2a2a;
$midnight: #728bd4;

.header {

  // positional
  width: 100vw;
  height: 14vh;
  margin: 0 auto;

  // content
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &-body-left {
    height: 14vh;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &-title {
      color: white;
      font-family: 'Questrial', sans-serif;
      font-size: 2rem;
      margin-left: 2vw;
      margin-bottom: -0.5rem;
      text-decoration: wavy underline $green 1px;
  }
}

.logo {
    color: $green;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo-container {
    display: flex;

}

.site-layout-background {
  background: #fff;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}