$primary: #add8e6;
$bright: #baade6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;
$dark: #2a2a2a;
$midnight: #728bd4;

.layout {
    &-container {
        // spacing
        margin: 0 auto;
        padding-bottom: 8px;

        display: flex;
        flex-direction: column;
        // position
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        bottom: 0;
        // background
        background-color: #1F2937;
    }

    &-nav {
        // font
        font-family: 'Questrial', sans-serif;
        color: white;

        // spacing
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;

        // background/border
        background: $primary;
        border: none;

        // sizing
        height: 4rem;
        z-Index: 100;
    }  
    
    &-nav-author {
        // spacing
        margin-left: auto;
    }

    &-nav-link {
        color: black;
        font-size: 16px;
        font-family: 'Questrial', sans-serif;

        &:active {
            color: white;
        }
    }

    &-nav-title {
        // font 
        font-family: 'Questrial', sans-serif;
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
        text-shadow: 8px 4px 2px black;
    }

    &-text {
      // font
      color: black;
      font-family: 'Questrial', sans-serif;
      font-size: 12px;
    }

}
