$primary: #add8e6;
$bright: #baade6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;

.layout {
    &-container {
        // spacing
        margin: 0 auto;
        padding-bottom: 8px;
        justify-content: center;

        // position
        position: absolute;
        top: 3rem;
        bottom: 0;
        left: 0;
        right: 0;

        // background
        background: linear-gradient(to bottom right, $green, #fff);
    }

    &-nav {
        // font
        font-family: 'Questrial', sans-serif;
        color: white;

        // spacing
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;

        // background/border
        background: $primary;
        border: none;

        // sizing
        height: 3rem;
    }  
    
    &-nav-author {
        // spacing
        margin-left: auto;
    }

    &-nav-link {
        color: white;
        font-size: 16px;
        font-family: 'Questrial', sans-serif;
    }

    &-nav-title {
        // font 
        font-family: 'Questrial', sans-serif;
        color: white;
        font-weight: 600;
        font-size: 2.5rem;
    }

    &-text {
      // font
      color: black;
      font-family: 'Questrial', sans-serif;
      font-size: 12px;
    }

    // NOTE: deprecated
    &-col {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 8px;
        height: '100%';
        background: linear-gradient(to bottom right, $green, #fff);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;
    }

    // NOTE: deprecated
    &-col-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: '100%';
        background: linear-gradient(to bottom right, #fff, $primary);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 16px;
    }
}
