$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;

.layout {
    &-container {
        margin: 0 auto;
        padding: 8px;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 16px;
        left: 0;
        right: 0;
        margin-bottom: 4px;
    }

    &-col {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        height: '100%';
        background: linear-gradient(to bottom right, $green, #fff);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        overflow: hidden;
    }

    &-col-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: '100%';
        background: linear-gradient(to bottom right, #fff, $primary);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 16px;
    }

    &-nav {
        border-radius: 4px;
        background-color: $indigo;
        color: #fff;
        font-family: 'Questrial', sans-serif;
        margin-bottom: 4%;
        margin-top: 4%;
        padding: 8px;
        box-shadow: 4px 4px rgba(0,0,0,0.4);
    }

    &-text {
      color: black;
      font-family: 'Questrial', sans-serif;
      font-size: 12px;
    }
}