$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;

.home {
    &-container {
        margin: 0 auto;
        padding: 8px;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &-text {
        color: white;
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }

    &-col {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: '100%';
        background: linear-gradient(to bottom right, $green, #fff);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &-col-right {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: '100%';
        background: linear-gradient(to bottom right, #fff, $primary);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &-text-soft {
        color: $split-red;
        font-family: 'Questrial', sans-serif;
        text-align: center;
        font-weight: 900;
    }

    &-left-title-container {
        border-bottom: 2px solid black;
        width: fit-content;
    }

    &-left-paragraph-container {
        margin-top: 16px;
        margin-right: 24px;
        margin-left: 24px;
        text-align: center;
    }

    &-left-paragraph {
        font-family: 'Questrial', sans-serif;
    }

    &-left-paragraph-bottom-text {
        color: $split-red;
        font-weight: 700;
        font-family: 'Questrial', sans-serif;
    }

    &-left-paragraph-bottom-text-strong {
        color: $split-red;
        font-weight: 900;
        font-style: italic;
        font-family: 'Questrial', sans-serif;
    }

    &-image-container {
        max-height: 200px;
        max-width: 200px;
        padding: 0;
        display: flex;
        align-items: center;
    }

    &-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        color: $complementary;
    }

}

.divider {
    max-width: '50%';
    text-align: center;

    &-text {
        align-self: center;
        float: bottom;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}