$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;

.home {

    // HeroSection.jsx
    &-hero-section {
        // flex 
        display: flex;
        flex-direction: row;

        // spacing
        justify-content: flex-start;
        align-items: center;
        margin-left: 24px;

        min-height: 50vh;
    }

    &-hero-container {
        // flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &-blurb-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100vw; 
    }

    &-blurb-image-container {
        max-width: 300px;
        min-width: 100px;
        height: auto;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 8px 4px 4px $indigo;
    }

    &-blurb-image {
        resize: cover;
        height: 100%;
        width: 100%;
    }

    // HomeTitle.jsx
    &-title {
        // font
        color: white;
        font-family: 'Questrial', sans-serif;
        font-size: 5rem;

        // spacing
        text-align: center;
        margin-left: 16px;
        margin-bottom: 0px;
    }

    &-sharp {
        // font
        color: $split-red;
    }

    // HomeParagraph.jsx
    &-left-paragraph-container {
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
        padding: 24px;
        max-width: 50vw;
    }

    &-left-paragraph {
        font-family: 'Questrial', sans-serif;
        text-align: center;
    }

    // HomeAnimation.jsx
    &-image-container {
        // dimensions
        max-height: 200px;
        max-width: 200px;

        // flex
        display: flex;

        // spacing
        padding: 0;
        align-items: center;
        align-self: center;
    }

    &-image {
        // spacing
        margin-left: auto;
        margin-right: auto;

        // animation
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        // color
        color: $indigo;
    }

    // NOTE: deprecated
    &-right-feature-container {
        margin-top: 4px;
        margin-bottom: 4px;
        padding: 4px;
        width: 100%;
        display: flex;
        align-items: flex-start;
    }

    // NOTE: deprecated
    &-right-text {
        color: $split-red;
        font-family: 'Questrial', sans-serif;
    }

}

.divider {
    margin-left: 10em;
    margin-right: 10em;
}

.header {
    margin-left: 16px;
}

.title-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    min-height: 30vh;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}