$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;
$midnight: #728bd4;

em {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $primary;
}

hr {
    max-width: 10vw;
    border: 1px solid black;
}

.home {

    // HeroSection.jsx

    &-hero-container {
        // flex
        display: flex;
        flex-direction: column;
    }

    &-hero-section {
        // flex 
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
        // spacing
        justify-content: flex-start;
        align-items: center;
        margin-left: 24px;

        // accent
        text-decoration: underline solid white 4px;
    }

    // HomeTitle.jsx
    &-title {
        // font
        color: white;
        font-family: 'Questrial', sans-serif;
        font-size: 5rem;

        // spacing
        text-align: center;
        margin-left: 16px;
        margin-bottom: 0px;
        padding: 8px;
    }

    &-sharp {
        // font
        min-height: 1rem;
        min-width: 1rem;
        background-color: $midnight;
        border-radius: 0.5rem;
        display: inline-block;
    }

    // HomeAnimation.jsx
    &-image-container {
        // dimensions
        max-height: 200px;
        max-width: 200px;

        // flex
        display: flex;

        // spacing
        padding: 0;
        align-items: center;
        align-self: center;
    }

    &-image {
        // spacing
        margin-left: auto;
        margin-right: auto;

        // animation
        animation-name: spin;
        animation-duration: 3000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        // color
        color: $midnight;
    }

    &-paragraph-container {
        padding: 4px;
        max-width: 50vw;
        margin-left: 24px;
    }

    &-paragraph {
        color: white;
        font-family: 'Questrial', sans-serif;
        font-size: 1.5rem;
    }

}

.divider {
    margin-left: 10em;
    margin-right: 10em;
}

.header {
    margin-left: 16px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform:rotate(360deg);
    }
}