$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;
$midnight: #728bd4;

hr {
    border-top: 2px solid white;
    border-radius: 8px;
    min-width: 100%;
    align-self: flex-start;
}

.anthology {
  &-header {
      &-container {
          padding: 24px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          max-width: 30vw;
      }
      &-main {
          font-size: 3rem;
          color: $primary;
          margin-bottom: 0em
      }
  }
}

