$primary: #add8e6;
$complementary: #e6bbad;
$split-red: #e6adbc;
$indigo: #adbce6;
$green: #ade6d8;
$dark: #2a2a2a;

html, body {
    color: black;
    font-size: 16px;
    font-family: 'Questrial', sans-serif;
}
