.logo {
  float: left;
  width: 164px;
  height: 32px;
  margin: 16px 24px 16px 0;
  background: #3D3938;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
    margin-top: 8px;
    color: 'white';
    margin-bottom: 4px;
}
